doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous')
  link(rel='stylesheet' href='./css/main.css')
  title Mei Lu • CS & Art 

.cursor
.cursor2
.cursor3

// Intro Section
.container.intro
  .row
    .col
      img(src="./img/mei-intro.png" class="img-fluid" alt="Illustration of Mei")
    .col.namecard
      .heading mei lu
      p CS Student @ UMD
      p I make programs, illustrations, and merch.
    
    //- button.action-button
    //-   a(href='' src='./files/Mei_Lu_Resume.pdf' target='_blank') Resume
    //- button.action-button Contact
.socials
  img(src="./img/linkedin.svg" class="img-fluid" alt="Icon of LinkedIn")
  img(src="./img/github.svg" class="img-fluid" alt="Icon of GitHub")
  img(src="./img/resume.svg" class="img-fluid" alt="Icon of Resume")


// End Intro Section
.proj-nav
    .proj-tab All
    .proj-tab Web
    .proj-tab Scripting
    .proj-tab Merch


.proj-grid
  .proj-tile
    .proj-title Verizon Software Engineering Intern
    .label-group
      .proj-label Scripting
    .proj-descrip Wrote python scripts to automate monitoring Fios video network health

  .proj-tile
    .proj-title Technica Hackathon Organizer
    .label-group
      .proj-label Web
    .proj-descrip Part of the tech team for organizing the world's largest hackathon for underrepresented people in tech.
  
  .proj-tile
    .proj-title Cottagecore Enamel Pin Collection
    .label-group
      .proj-label Merch
    .proj-descrip Crowdfunding and manufacturing an enamel pin collection of 5 pins.

  .proj-tile
    .proj-title Lunar Banquet Fundraising
    .label-group
      .proj-label Web
    .proj-descrip Wrote python scripts to automate monitoring Fios video network health
  
  

script(src='./js/animations.js')
script(src='./js/cursor.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js')