doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon' href='./img/favicon.svg' type='image/x-icon')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous')
  link(rel='stylesheet' href='./css/main.css')
  title Mei Lu • CS Student

.cursor
.cursor2
.cursor3

// Intro Section
.container.intro
  .socials
      a(href="https://linkedin.com/meil" target="_blank")
        img(src="./img/linkedin.svg" class="img-fluid" alt="Icon of LinkedIn")
      a(href="https://github.com/mei-lu" target="_blank")
        img(src="./img/github.svg" class="img-fluid" alt="Icon of GitHub")
      a(href="./files/Mei_Lu_Resume.pdf" target="_blank")
        img(src="./img/resume.svg" class="img-fluid" alt="Icon of Resume")

  .namecard
    .intro-img
      img(src="./img/mei-intro.svg" class="img-fluid" alt="Illustration of Mei")

    .intro-text
      .heading mei lu
      .tagline 
        p CS Student @ UMD, College Park
      p I make programs, illustrations, and merch.
      a(href="mailto: meilu@umd.edu" target="_blank")
        .button Get in touch


// End Intro Section

// Project Section
.proj
  .proj-nav
      .proj-tab All
      .proj-tab Web
      .proj-tab Scripting
      .proj-tab Merch


  .proj-grid
    .proj-tile
        .proj-title Verizon Software Engineering Intern
        .label-group
          .proj-label Scripting
        .proj-descrip Automate Fios video network management tasks, monitoring health, and diagnose issues quickly using python scripts. Improved workflow speed by 95% compared to manual lookup.


    .proj-tile
      .proj-title Technica Hackathon Organizer
      .label-group
        .proj-label Web
      .proj-descrip Tech team member participating in web dev. Organizing the world's largest hackathon for underrepresented people in tech.
    
    .proj-tile
      .proj-title Lunar Banquet Fundraising
      .label-group
        .proj-label Web
      .proj-descrip A web platform collecting hundreds in donations for Feeding America in and displayed live stats. Made for a Chinese Student Association event that attracted more than 100 attendees.
    
  

script(src='./js/animations.js')
script(src='./js/cursor.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js')