doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon' href='./img/favicon.svg' type='image/x-icon')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous')
  link(rel='stylesheet' href='./css/main.css')
  title mei lu • computer science student

.cursor
.cursor2
.cursor3

.hero#hero
  // Intro Section
  .intro
    .socials
        a(href="https://linkedin.com/meil" target="_blank")
          img(src="./img/linkedin.svg" class="img-fluid" alt="Icon of LinkedIn")
        a(href="https://github.com/mei-lu" target="_blank")
          img(src="./img/github.svg" class="img-fluid" alt="Icon of GitHub")
        a(href="./files/Mei_Lu_Resume.pdf" target="_blank")
          img(src="./img/resume.svg" class="img-fluid" alt="Icon of Resume")

    .namecard.container
      .intro-img.img
        img(src="./img/mei-intro.svg" alt="Illustration of Mei")

      .intro-text
        .heading mei lu
        .tagline 
          p  COMPUTER SCIENCE STUDENT @ UMD, COLLEGE PARK
        .descrip 
          p i make programs, illustrations, and merch. 
          p i'm currently organizing Technica, the world's largest hackathon for underrepresented people in tech.
        
        .button
            a(href="mailto: meilu@umd.edu" target="_blank")
              span GET IN TOUCH
            a(href="mailto: meilu@umd.edu" target="_blank")
              img(src="./img/email.svg" alt="Icon of email") 
            
  .expand-btn
    a(href="#proj") see my work
    a(href="#proj")
      img(src="./img/downarrow.svg")

  // End Intro Section

// Project Section
.proj#proj
  .proj-grid
    .proj-tile
        .proj-title Verizon | Software Engineering Intern
        .label-group
          .proj-label Scripting
        .proj-descrip Automate Fios video network management tasks, monitoring health, and diagnose issues quickly using python scripts. Improved workflow speed by 95% compared to manual lookup.


    .proj-tile
      .proj-title Technica | Hackathon Organizer
      .label-group
        .proj-label Web
      .proj-descrip Tech team member participating in web dev. Organizing the world's largest hackathon for underrepresented people in tech.
    
    .proj-tile
      .proj-title Chinese Student Association | Live Fundraising Web App
      .label-group
        .proj-label Web
      .proj-descrip A web platform collecting hundreds in donations for Feeding America in and displayed live stats. Made for a Chinese Student Association event that attracted more than 100 attendees.
  
  .expand-btn
    a(href="#hero")
      img(src="./img/uparrow.svg")
    a(href="#hero") to top

// Footer
.footer
  span Copyright © 2021 Mei Lu. All Rights Reserved.


script(src='./js/animations.js')
script(src='./js/cursor.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js')